.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.logo {
  float: left;
  margin-right: 24px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.app-container {
  min-height: 100vh;
  transition: all 0.3s;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

@media (max-width: 576px) {
  .site-layout-content {
    padding: 12px;
  }
} 